<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en"xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Login</title>

    <!-- Fontfaces CSS-->
    <link th:href="@{/asserts/css/font-face.css}" href="css/font-face.css" rel="stylesheet" media="all">
    <link th:href="@{/asserts/vendor/font-awesome-4.7/css/font-awesome.min.css}" href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link th:href="@{/asserts/vendor/font-awesome-5/css/fontawesome-all.min.css}" href="vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link th:href="@{/asserts/vendor/mdi-font/css/material-design-iconic-font.min.css}" href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link th:href="@{/asserts/vendor/bootstrap-4.1/bootstrap.min.css}" href="vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link th:href="@{/asserts/vendor/animsition/animsition.min.css}" href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link th:href="@{/asserts/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" href="vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link th:href="@{/asserts/vendor/wow/animate.css}" href="vendor/wow/animate.css" rel="stylesheet" media="all">
    <link th:href="@{/asserts/vendor/css-hamburgers/hamburgers.min.css}" href="vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link th:href="@{/asserts/vendor/slick/slick.css}" href="vendor/slick/slick.css" rel="stylesheet" media="all">
    <link th:href="@{/asserts/vendor/select2/select2.min.css}" href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link th:href="@{/asserts/vendor/perfect-scrollbar/perfect-scrollbar.css}" href="vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link th:href="@{/asserts/css/theme.css}" href="css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                                <img th:src="@{/asserts/images/icon/logo.png}" src="images/icon/logo.png" alt="CoolAdmin">
                            </a>
                        </div>
                        <div class="login-form">
                            <!--判断-->

                            <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>

                            <form th:action="@{/user/login}" action="" method="post">

                                <div class="form-group">
                                    <label th:text="#{login.username}">Email Address</label>
                                    <input class="au-input au-input--full" required data-msg="请输入用户名"type="text" name="userName" th:placeholder="#{login.username}" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label th:text="#{login.usernumber}">Password</label>
                                    <input class="au-input au-input--full" required data-msg="请输入用户工号"type="text" name="userNumber" th:placeholder="#{login.usernumber}" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <label th:text="#{login.password}">Password</label>
                                    <input class="au-input au-input--full" type="password" required data-msg="请输入密码"name="userPassword" th:placeholder="#{login.password}" placeholder="Password">
                                </div>
                                <div class="login-checkbox">

                                </div>
                                <button class="au-btn au-btn--block au-btn--green m-b-20" th:text="#{login.btn}" type="submit">sign in</button>
                                <a class="btn btn-sm" th:href="@{/index.html(l='zh_CN')}">中文</a>
                                <a class="btn btn-sm" th:href="@{/index.html(l='en_US')}">English</a>
                                <!--<div class="social-login-content">
                                    <div class="social-button">
                                        <button class="au-btn au-btn&#45;&#45;block au-btn&#45;&#45;blue m-b-20">sign in with facebook</button>
                                        <button class="au-btn au-btn&#45;&#45;block au-btn&#45;&#45;blue2">sign in with twitter</button>
                                    </div>
                                </div>-->
                            </form>
                            <div class="register-link">
                                <p>
                                    Don't you have account?
                                    <a href="#">注册Sign Up Here</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Jquery JS-->
    <script th:src="@{/asserts/vendor/jquery-3.2.1.min.js}" src="vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script th:src="@{/asserts/vendor/bootstrap-4.1/popper.min.js}"src="vendor/bootstrap-4.1/popper.min.js"></script>
    <script th:src="@{/asserts/vendor/bootstrap-4.1/bootstrap.min.js}"src="vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script th:src="@{/asserts/vendor/slick/slick.min.js}"src="vendor/slick/slick.min.js">
    </script>
    <script th:src="@{/asserts/vendor/wow/wow.min.js}"src="vendor/wow/wow.min.js"></script>
    <script th:src="@{/asserts/vendor/animsition/animsition.min.js}"src="vendor/animsition/animsition.min.js"></script>
    <script th:src="@{/asserts/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}"src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script th:src="@{/asserts/vendor/counter-up/jquery.waypoints.min.js}"src="vendor/counter-up/jquery.waypoints.min.js"></script>
    <script th:src="@{/asserts/vendor/counter-up/jquery.counterup.min.js}"src="vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script th:src="@{/asserts/vendor/circle-progress/circle-progress.min.js}"src="vendor/circle-progress/circle-progress.min.js"></script>
    <script th:src="@{/asserts/vendor/perfect-scrollbar/perfect-scrollbar.js}"src="vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script th:src="@{/asserts/vendor/chartjs/Chart.bundle.min.js}"src="vendor/chartjs/Chart.bundle.min.js"></script>
    <script th:src="@{/asserts/vendor/select2/select2.min.js}"src="vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script th:src="@{/asserts/js/main.js}" src="js/main.js"></script>

</body>

</html>
<!-- end document-->