<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Required meta tags-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
	<meta name="description" content="au theme template">
	<meta name="author" content="Hau Nguyen">
	<meta name="keywords" content="au theme template">

	<!-- Title Page-->
	<title>完善个人信息</title>

	<!-- Fontfaces CSS-->
	<link th:href="@{/asserts/css/font-face.css}" href="/asserts/css/font-face.css" rel="stylesheet" media="all">
	<link th:href="@{/asserts/vendor/font-awesome-4.7/css/font-awesome.min.css}" href="/asserts/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
	<link th:href="@{/asserts/vendor/font-awesome-5/css/fontawesome-all.min.css}" href="/asserts/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
	<link th:href="@{/asserts/vendor/mdi-font/css/material-design-iconic-font.min.css}" href="/asserts/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

	<!-- Bootstrap CSS-->
	<link th:href="@{/asserts/vendor/bootstrap-4.1/bootstrap.min.css}" href="/asserts/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

	<!-- Vendor CSS-->
	<link th:href="@{/asserts/vendor/animsition/animsition.min.css}" href="/asserts/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
	<link th:href="@{/asserts/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css}" href="/asserts/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
	<link th:href="@{/asserts/vendor/wow/animate.css}" href="/asserts/vendor/wow/animate.css" rel="stylesheet" media="all">
	<link th:href="@{/asserts/vendor/css-hamburgers/hamburgers.min.css}" href="/asserts/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
	<link th:href="@{/asserts/vendor/slick/slick.css}" href="/asserts/vendor/slick/slick.css" rel="stylesheet" media="all">
	<link th:href="@{/asserts/vendor/select2/select2.min.css}" href="/asserts/vendor/select2/select2.min.css" rel="stylesheet" media="all">
	<link th:href="@{/asserts/vendor/perfect-scrollbar/perfect-scrollbar.css}" href="/asserts/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

	<!-- Main CSS-->
	<link th:href="@{/asserts/css/theme.css}" href="/asserts/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
<div class="page-wrapper">
	<div class="page-content--bge5">
		<div class="container">
			<div class="login-wrap">
				<div class="login-content">
					<div class="login-logo">
						<a href="#">
							<img th:src="@{/asserts/images/icon/logo.png}" src="/asserts/images/icon/logo.png" alt="CoolAdmin">
						</a>
					</div>
					<div class="login-form">
						<!--判断-->

						<p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
						<form th:action="@{/user/addUser}" action=""  method="post">

							<div class="form-group">
								<label >姓名</label>
								<input class="au-input au-input--full" required data-msg="请输入性名"type="text" name="userName"  placeholder="姓名">
							</div>
							<div class="form-group">
								<label >工号</label>
								<input class="au-input au-input--full" required data-msg="请输入工号"type="text" name="userNumber"  placeholder="工号">
							</div>
							<div class="form-group">
								<label >联系方式</label>
								<input class="au-input au-input--full" type="text" required data-msg="请输入联系方式"name="userTel" placeholder="联系方式">
							</div>
							<div class="login-checkbox">

							</div>
							<button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">提交</button>

							<!--<div class="social-login-content">
                                <div class="social-button">
                                    <button class="au-btn au-btn&#45;&#45;block au-btn&#45;&#45;blue m-b-20">sign in with facebook</button>
                                    <button class="au-btn au-btn&#45;&#45;block au-btn&#45;&#45;blue2">sign in with twitter</button>
                                </div>
                            </div>-->
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<!-- Jquery JS-->
<script th:src="@{/asserts/vendor/jquery-3.2.1.min.js}" src="/asserts/vendor/jquery-3.2.1.min.js"></script>
<!-- Bootstrap JS-->
<script th:src="@{/asserts/vendor/bootstrap-4.1/popper.min.js}"src="/asserts/vendor/bootstrap-4.1/popper.min.js"></script>
<script th:src="@{/asserts/vendor/bootstrap-4.1/bootstrap.min.js}"src="/asserts/vendor/bootstrap-4.1/bootstrap.min.js"></script>
<!-- Vendor JS       -->
<script th:src="@{/asserts/vendor/slick/slick.min.js}"src="/asserts/vendor/slick/slick.min.js">
</script>
<script th:src="@{/asserts/vendor/wow/wow.min.js}"src="/asserts/vendor/wow/wow.min.js"></script>
<script th:src="@{/asserts/vendor/animsition/animsition.min.js}"src="/asserts/vendor/animsition/animsition.min.js"></script>
<script th:src="@{/asserts/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js}"src="/asserts/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script th:src="@{/asserts/vendor/counter-up/jquery.waypoints.min.js}"src="/asserts/vendor/counter-up/jquery.waypoints.min.js"></script>
<script th:src="@{/asserts/vendor/counter-up/jquery.counterup.min.js}"src="/asserts/vendor/counter-up/jquery.counterup.min.js">
</script>
<script th:src="@{/asserts/vendor/circle-progress/circle-progress.min.js}"src="/asserts/vendor/circle-progress/circle-progress.min.js"></script>
<script th:src="@{/asserts/vendor/perfect-scrollbar/perfect-scrollbar.js}"src="/asserts/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script th:src="@{/asserts/vendor/chartjs/Chart.bundle.min.js}"src="/asserts/vendor/chartjs/Chart.bundle.min.js"></script>
<script th:src="@{/asserts/vendor/select2/select2.min.js}"src="/asserts/vendor/select2/select2.min.js">
</script>

<!-- Main JS-->
<script th:src="@{/asserts/js/main.js}" src="/asserts/js/main.js"></script>

</body>

</html>


